@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
main{
    padding: 16px;
}
footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: chartreuse;
    text-align:left;
}
img{
    height: 200px;
}
nav{
    border-bottom: 1px solid black;
    padding: 16px;

}
a{
    text-decoration: none;

}
a:hover {
    color: green;
}

header {
    background-color: orangered;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }


nav > a{
    color: white;
}
h1 {
    color: darkolivegreen;

}
footer > p{
    font-size: x-large;
}

.wrapper tbody tr:nth-child(even) {
    background: gray;
}
 ol li:nth-child(even){
    background: gray;
}
li{
    width: fit-content;
}
h3 {
    text-shadow: 2px 2px 5px #FF0000;
}
